/* Generaç*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 20px 0 20px;
    padding: 0;
    background-color: white;
    color: #272827;
}

header {
    background-color: #2E5EAA;
    color: white;
    padding: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 1rem;
}

.header-container h1 {
    margin: 0;
    font-size: 1.5rem;
    background-color: #2E5EAA;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hamburg button */
#hamburg-menu {
    display: none; /* hide large screen */
    background-color: #2E5EAA;
    color: #272827;
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
}

#hamburg-menu::before {
    content: "☰"; 
}

#hamburg-menu.open::before {
    content: "❎"; 
}


.hero {
    position: relative;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.hero-image {
    width: 100%;    
    height: 500px;
    }

.hero-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #593959;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #555;
}

.site-purpose .yw-purpose, h1 {
    background-color: #DFDCE5;
    text-align: center;
    font-weight: bold;
}

.site-purpose p {
    font-size: larger;
    text-align: center;
    color: #2E5EAA;
}

.yw-purpose p {
    font-style: italic;
    font-size: larger;
    text-align: center;
    color: #2E5EAA;
}

/* Footer general */
footer {
    background-color:#2E5EAA;
    color: white;
    border-top: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.footer-column {
    width: 100%; /*total width ocupated*/
    align-items: center;
}

.social-icons img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
}


/*Mobile view*/

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    #hamburg-menu {
        display: block;
        position: absolute; 
        top: 20px; 
        right: 20px; 
        z-index: 10; 
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #2E5EAA;
        padding: 0;
        position: absolute; 
        top: 60px;
        left: 0;
        z-index: 9; 
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        text-align: center;
        padding: 1em 0;
    }

    nav ul li a {
        display: block;
        width: 100%;
    }

    .view-toggle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .view-toggle button {
        width: 48%;
        margin-bottom: 10px;
    }

    .hero-button {
        padding: 0.75rem 1.5rem;
    }

    .footer-container {
       width: 100%;
    }

   }